<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial de Fraudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Transacciones Detectadas</ion-label>
  </ion-list-header>

  <div *ngIf="transactions.length === 0" class="empty-state">
    <ion-icon name="shield-checkmark-outline"></ion-icon>
    <h3>¡Todo en orden!</h3>
    <p>No se han detectado transacciones fraudulentas.</p>
  </div>

  <ion-list [inset]="true" *ngIf="transactions.length > 0">
    <ion-item-sliding *ngFor="let tr of transactions" #slidingItem>
      
      <ion-item (click)="transactionDetails(tr.id)" [detail]="true" lines="inset">
        <ion-icon name="alert-circle-outline" slot="start" color="danger"></ion-icon>
        <ion-label>
          <h2>{{ tr.fecha }}</h2>
          <p>Monto: ${{ tr.monto }} - ID: {{ tr.id.substring(0, 8) }}...</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTransaction(tr.id, slidingItem)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

</ion-content>