<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Transacción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Transacción</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="paymentForm" (ngSubmit)="processPayment()">
    <ion-list>
      
      <ion-item>
        <ion-input
          label="Número de Tarjeta"
          labelPlacement="floating"
          formControlName="cardNumber"
          type="tel"
          inputmode="numeric"
          maxlength="19"
          placeholder="0000 0000 0000 0000"
          errorText="Número de tarjeta inválido"
          (ionInput)="formatCardNumber($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Nombre en la Tarjeta"
          labelPlacement="floating"
          formControlName="cardName"
          type="text"
          placeholder="Juan Pérez"
          errorText="Nombre requerido">
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input
              label="Vencimiento (MM/AA)"
              labelPlacement="floating"
              formControlName="expiryDate"
              type="text"
              maxlength="5"
              placeholder="12/25"
              errorText="Fecha inválida"
              (ionInput)="formatExpiryDate($event)">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-input
              label="CVV"
              labelPlacement="floating"
              formControlName="cvv"
              type="password"
              inputmode="numeric"
              maxlength="4"
              placeholder="123"
              errorText="CVV inválido">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-list>

    <div class="ion-padding">
      <ion-button 
        type="submit" 
        expand="block" 
        [disabled]="paymentForm.invalid">
        Verificar Transacción
      </ion-button>
    </div>

  </form>

</ion-content>